// $fontcolor:  rgb(100, 100, 100);
$backgroundcolor: rgb(90%, 90%, 90%);


body {
  font-family: "Roboto", sans-serif;
  // color: $fontcolor;
  background-color: $backgroundcolor;
  margin: 50px;
}

.note {
  box-shadow: 2px 2px 4px 0px rgb(100, 100, 100);
  background-color: white;
  width: 200px;
  height: 200px;
}

.note-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.drag-icon, .cursor {
  cursor: move;
}
