body {
  font-family: "Roboto", sans-serif;
  background-color: #DCFFFB;
  margin: 50px;
}

#header {
  margin: 10px;
  width: 80vw;
}

#title-bar {
  width: 78%;
  height: 30px;
  font-size: 0.9em;
}

#submit-button {
  width: 12%;
  height: 35px;
  background-color: rgb(100, 160, 155);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 0.9em;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 4px;
  padding-right: 6px;
}

#submit-button:hover {
  background-color: rgb(35, 165, 155);
}

.note {
  box-shadow: 2px 2px 4px 0px rgb(100, 100, 100);
  background-color: white;
  position: absolute;
}

.note-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.drag-icon, .cursor {
  cursor: move;
}

.note-body {
  padding-left: 6px;
  padding-right: 6px;
}

.auth-screen {
  text-align: center;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.column {
  display: flex;
  flex-direction: column;
}

.auth-input {
  margin-bottom: 10px;
  font-size: 0.8em;
}

.auth-button {
  background-color: rgb(100, 160, 155);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 0.8em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.auth-button:hover {
  background-color: rgb(35, 165, 155);
}

footer {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
